body{
	text-align: center;
}

h1{
	font-family: Verdana;
	font-size: 72px;
	color: gray;
}

p{
	font-family: Verdana;
	font-size: 40px;
	color: gray;
}

hr{
	width:	600px;
}

h3{
	font-size: 30px;
	font-family: Verdana;
	color: gray;
	text-decoration: underline;
}

ul{
	font-size: 30px
	font: Verdana;
	color: gray;
	list-style-type: none;	
}

