html, body {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
}


/*Header*/

header {
	width: 100%;
}

header .logo {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

header img {
  margin-right: .5rem;
}

.content {
	display: flex;
	align-items:center;
	height:104px;
	padding: 0 1.5rem;
}

.student-shadows, .campus, .lecture {
	display: flex;
  	padding: 1rem 0 1rem 1rem;
  	border-bottom: 1px solid rgb(245, 245, 245);
}


a {
	text-decoration: none;
	color: black;
}

ul {
	display: inline-block;
	padding: 0;
	float: right;
	font-size: 1.5rem;
	position: absolute;
	list-style-position: none;
	/*position: absolute;*/
}

ul li {
	display: inline;
}

.media-container {
	overflow: hidden;
}

.media-container img 
.media-container video {
	display: block;
	width: 100%;
}



/*Section 1*/

h1 {
	float:right;
	padding: 32px 30px 32px 20px;
	text-align: center;
}

.students {
	display: flex;
  padding: 0 1.5rem;
	margin-top: 100px;
}

.students img {
	float: left;
	padding: 32px 40px 32px 40px;
}

.students p {
	float: right
}

.btn {
	background-color: darkgray;
	color: white;
	text-align: center;
	display: inline-block;
	padding: 8px 8px;
	float: right;
}

.information {
	display: flex;
  padding: 0 1.5rem;
}

.left {
	width: 60%;
  padding: 2rem 1.5rem 2rem 0;
  border-right: 1px solid rgb(245, 245, 245);
}

.right {
 display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem 0;
}

/*Section 2 information*/

.reader img {
	float: left;
	padding: 32px 24px 32px 24px;
}

.reader h2 {
	float: right;
	text-align: center;
	padding: 32px 30px 32px 20px;
}

.reader p {
	float: right;
}

.student-shadows img {
	float: left;
	padding: 32px 24px 32px 24px;
}

.student-shadows h3 {
	float: right;
	text-align: center;
	padding: 32px 30px 32px 20px;
}

.student-shadows p {
	float: right;
}


.media-container {

}

.information {
	display: -webkit-flex;
	-webkit-flex-flow: row wrap; 
  	flex-flow: row wrap; 
  	display: -webkit-box;
  	display: flex;
}
/*Section 3: Start Learning*/

.learning #flex-container-3 {
	display: flex;
  	align-items: flex-start;
  	flex-direction: row;
  	flex-wrap: wrap;
}

.flex-item {
	width: 200px;
	height: 300px;
	margin: 16px;
	padding: 32px;
}

.flex-item h3 {
	font-family: Helvetica;
	font-size: 1rem;
}

.flex-item p {
	font-family: Helvetica;
	font-size:0.75rem;
	color: gray;
}

/*Section 4: Thesis Exhibit*/

.thesis-exhibit #flex-container-4 {
	display: flex;
  	align-items: flex-start;
  	flex-direction: row;
  	flex-wrap: wrap;
}

.thesis-exhibit .flex-item {

}

/*Footer*/